table.bordered-table.zebra-striped
    thead
        tr
            th.status Status
            th.service Server Address
            th.control Launch
    tbody
    - for item in items
        tr.service(class="srow-#{item.state}")
            td.service
                a.status(href="#", title="Server state: #{item.state}")
                    img(src="state-#{item.state}.png")
                    .workers &nbsp;
                h3= item.id
                .help-block= item.message
            td.domain
                h3= (item.address || "Not Available")
            td.control
                - if(item.state == "down")
                    img.btn.command(src="command-start.png",data-id=item.id,data-command="start")
                - else 
                    img.btn.command(src="command-stop.png",data-id=item.id,data-command="stop")

