- for service in items
    tr.service(class="srow-#{service.state}")
        td.service
            a.status(href="#", title="#{service.workers} worker(s), #{service.storage}Gb storage, #{service.bandwith}Gb bandwith")
                img(src="state-#{service.state}.png")
                .workers= service.workers
            h3= service.name
            
        td.domain
            h3
                a(href="http://#{service.domain}",target="_new")= service.domain
        td.control
            - if(service.state == "down")
                img.btn.command(src="command-start.png",data-id=service.sid,data-domain=service.domain,data-command="start")
            - else 
                img.btn.command(src="command-stop.png",data-id=service.sid,data-domain=service.domain,data-command="stop")

